body,td,th {

	color: #300;

}

html,body {

	color: #303;
	font-family:verdana,微软雅黑;

	margin:0;

	padding:0;

}

a{

	text-decoration:none;

	color: #999;

}

a:hover{

	color: #111;

}


ul{

	list-style: none;

	padding: 0;

}

li{

	list-style: none;

}

.wrap{

	overflow:hidden;

	margin:0 auto;

}





header{

	top: 0;

	width: 100%;

	margin:0 auto;

	padding-bottom: 20px;

	background-color:rgba(255,255,255,.8);

	position: fixed;

	z-index: 100;

}

#footer{

	bottom: 0;
	width: 100%;
	height: 20px;
	margin:0 auto;
	padding-top:40px;
	padding-bottom: 20px;

}

#site-info{
    text-align: center;
    font-size: 13px;
    color: #B9B9B9;
    font-family: miranafont,"Hiragino Sans GB",STXihei,"Microsoft YaHei",SimSun,sans-serif;
}


#topnav{

	margin: 0 auto;

	margin-top: 50px;

	width: 1000px;

}


/*menu,css开始*/

header nav li{

	position: relative;

	margin-right:30px;

	font-family: Georgia,serif;

	font-size: 13px;

	float: left;

}



#main{

	margin-top:100px;

}


#IE6 #IE7{



	/*height:20px;*/

	+height:300px; /*IE7*/ 

	_height:300px; /*IE6*/

	background:#FFF;

	+background:url(../img/IE6-7.jpg) no-repeat center;

	_background:url(../img/IE6-7.jpg) no-repeat center;

}



#wallpaper{

	text-align:center;

	margin:0 auto;

}
#roll-illustration{
	width: 100%;
	text-align:center;
	margin:0 auto;

}






/*Comic css开始*/

.comic_title{

	margin:0 auto;

	text-align:center;

}

.comic_dog{

	background:url(/img/dog.jpg) no-repeat 0 0;

	width:300px;

	height:300px;

	margin:0 auto;

}

.comic_dog:hover{

	background:url(/img/dog.jpg) no-repeat 0 -300px;

	width:300px;

	height:300px;

	margin:0 auto;

}

.comic_pic{

	width:340px;

	height:80px;

	margin:0 auto;

}

.c1, .c2, .c3, .c4, .c5{

	width:60px;

	height:60px;

	margin:5px 4px;

	float:left;

}

.c1{

	background:url(/img/comic-pic.jpg) no-repeat 0 0;

}

.c1:hover{

	background:url(/img/comic-pic.jpg) no-repeat 0 -60px;

}

.c1:active{

}

.c2{

	background:url(/img/comic-pic.jpg) no-repeat -60px 0;

}

.c2:hover{

	background:url(/img/comic-pic.jpg) no-repeat -60px -60px;

}

.c2:active{

}

.c3{

	background:url(/img/comic-pic.jpg) no-repeat -120px 0;

}

.c3:hover{

	background:url(/img/comic-pic.jpg) no-repeat -120px -60px;

}

.c3:active{

}

.c4{

	background:url(/img/comic-pic.jpg) no-repeat -180px 0;

}

.c4:hover{

	background:url(/img/comic-pic.jpg) no-repeat -180px -60px;

}

.c5{

	background:url(/img/comic-pic.jpg) no-repeat -240px 0;

}

.c5:hover{

	background:url(/img/comic-pic.jpg) no-repeat -240px -60px;

}

.c5:active{

}

.comic_show{

	margin:0 auto;
	text-align: center;

	clear:both;

}

/*Comic css结束*/









/*baout css开始*/

#biobox{
	height:609px;
	width: 230px;
	margin: 0 auto;
}

.mypic{
	width: 200px;
	height:609px;
	float: left;
	background: url(/img/me.jpg) center 0 no-repeat;
}
.biotext{
	background: #EEE;
	float: left;
	height:609px;
	width: 0px;/*
	box-shadow: 5px 0px 10px 0px #888888 inset;*/
	text-align: center;
	color: #FFF;
	overflow: hidden;
}

.social-links{
	width: 280px;
	height: 100px;
	margin: 0 auto;
	text-align: center;
}
.note{
	width: 300px;
	height: 50px;
	color: #ccc;
	bottom: 0;
	right: 20px;
	position: absolute;
	text-align: center;
}

.follow1,.follow2,.follow3,.follow4{

	width:50px;

	height:50px;

	margin:10px 10px;

	float:left;

	overflow:hidden;

}

.follow1{

	background:url(/img/follow.jpg) no-repeat 0 0;

}

.follow1:hover{

	background:url(/img/follow.jpg) no-repeat 0 -50px;

}

.follow2{

	background:url(/img/follow.jpg) no-repeat -50px 0;

}

.follow2:hover{

	background:url(/img/follow.jpg) no-repeat -50px -50px;

}

.follow3{

	background:url(/img/follow.jpg) no-repeat -100px 0;

}

.follow3:hover{

	background:url(/img/follow.jpg) no-repeat -100px -50px;

}

.follow4{

	background:url(/img/follow.jpg) no-repeat -150px 0;

}

.follow4:hover{

	background:url(/img/follow.jpg) no-repeat -150px -50px;

}

.note{

}

/*about css结束*/





















/*illustration css开始*/

.width{

	width:350px;

}
