body,td,th {
	color: #300;
}
html,body {
	color: #303;
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
}

.wrap{
	overflow:hidden;
	margin:0 auto;
}
.header{
	margin:0 auto;
	/*height:20px;*/
	+height:300px; /*IE7*/
	_height:300px; /*IE6*/
	background:#FFF;
	+background:url(../img/IE6-7.jpg) no-repeat center;
	_background:url(../img/IE6-7.jpg) no-repeat center;
}


#wallpaper{
	text-align:center;
	margin:0 auto;
	height:550px;
}



/*menu,css开始*/
.menu{
	width:1000px;
	height:100px;
	margin:10px auto;
}
.menu_box{
	width:100px;
	height:120px;
	margin:0 21px;
	float:left;
}
.f1, .f2, .f3, .f4, .f5, .f6, .f7{
	height:100px;
	width:100px;
}
.f1{
	background:url(../web/images/back.jpg) no-repeat -600px 0;
}
.f1:hover{
	background:url(../web/images/back.jpg) no-repeat -600px -100px;;
}
.f1:active{
	background:url(../web/images/back.jpg) no-repeat -600px -200px;
}
.f2{
	background:url(../web/images/back.jpg) no-repeat -100px 0;
}
.f2:hover{
	background:url(../web/images/back.jpg) no-repeat -100px -100px;;
}
.f2:active{
	background:url(../web/images/back.jpg) no-repeat -100px -200px;
}
.f3{
	background:url(../web/images/back.jpg) no-repeat -200px 0;
}
.f3:hover{
	background:url(../web/images/back.jpg) no-repeat -200px -100px;;
}
.f3:active{
	background:url(../web/images/back.jpg) no-repeat -200px -200px;
}
.f4{
	background:url(../web/images/back.jpg) no-repeat -300px 0;
}
.f4:hover{
	background:url(../web/images/back.jpg) no-repeat -300px -100px;;
}
.f4:active{
	background:url(../web/images/back.jpg) no-repeat -300px -200px;
}
.f5{
	background:url(../web/images/back.jpg) no-repeat -400px 0;
}
.f5:hover{
	background:url(../web/images/back.jpg) no-repeat -400px -100px;;
}
.f5:active{
	background:url(../web/images/back.jpg) no-repeat -400px -200px;
}
.f6{
	background:url(../web/images/back.jpg) no-repeat -500px 0;
}
.f6:hover{
	background:url(../web/images/back.jpg) no-repeat -500px -100px;;
}
.f6:active{
	background:url(../web/images/back.jpg) no-repeat -500px -200px;
}
.f7{
	background:url(../web/images/back.jpg) no-repeat 0 0;
}
.f7:hover{
	background:url(../web/images/back.jpg) no-repeat 0 -100px;;
}
.f7:active{
	background:url(../web/images/back.jpg) no-repeat 0 -200px;
}


.t1, .t2, .t3, .t4, .t5, .t6, .t7{
	height:20px;
	width:100px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:900;
	color:#999;
}
/*menu ,css结束*/
