Options +FollowSymLinks
RewriteEngine On
RewriteCond %{HTTP_HOST} ^ruizhenxin.com [NC,OR]
RewriteCond %{HTTP_HOST} ^www.ruizhenxin.com [NC,OR]
RewriteCond %{HTTP_HOST} ^www.rzx.me [NC]
RewriteRule ^(.*)$ http://rzx.me/$1 [R=301,L]