@charset "utf-8";
/* CSS Document */

.comic_title{
	margin:0 auto;
	text-align:center;
}
.comic_dog{
	background:url(../images/dog.jpg) no-repeat 0 0;
	width:300px;
	height:300px;
	margin:0 auto;
}
.comic_dog:hover{
	background:url(../images/dog.jpg) no-repeat 0 -300px;
	width:300px;
	height:300px;
	margin:0 auto;
}
.comic_pic{
	width:275px;
	height:80px;
	margin:0 auto;
}
.c1, .c2, .c3, .c4{
	width:60px;
	height:60px;
	margin:5px 4px;
	float:left;
}
.c1{
	background:url(../images/comic-pic.jpg) no-repeat 0 0;
}
.c1:hover{
	background:url(../images/comic-pic.jpg) no-repeat 0 -60px;
}
.c1:active{
}
.c2{
	background:url(../images/comic-pic.jpg) no-repeat -60px 0;
}
.c2:hover{
	background:url(../images/comic-pic.jpg) no-repeat -60px -60px;
}
.c2:active{
}
.c3{
	background:url(../images/comic-pic.jpg) no-repeat -120px 0;
}
.c3:hover{
	background:url(../images/comic-pic.jpg) no-repeat -120px -60px;
}
.c3:active{
}
.c4{
	background:url(../images/comic-pic.jpg) no-repeat -180px 0;
}
.c4:hover{
	background:url(../images/comic-pic.jpg) no-repeat -180px -60px;
}
.c4:active{
}
.comic_show{
	margin:0 auto;
	clear:both;
}