@charset "utf-8";
/* CSS Document */

body {
	background-image:url(../images/try.jpg);
	background-repeat: no-repeat;
}
.center{
	width:500px;
	margin:0 auto;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.c-table{
	margin:430px 0 0 0;
	text-align:center;
	width:100%;
}
.center-pic{
	display:flex;
	justify-content:center;
	align-items:center;
	gap:12px;
	margin:12px 0;
}
.email{
	background:url(../images/email.jpg) no-repeat center;
	height:36px;
	width:320px;
	margin:0 auto 16px;
	display:block;
}

.email:hover{
	background:url(../images/email.jpg) no-repeat center -36px;
	height:36px;
	width:320px;
	margin:0 auto 16px;
}
.follow1,.follow2,.follow3,.follow4{
	width:50px;
	height:50px;
	margin:0;
	overflow:hidden;
}
.follow1{
	background:url(../images/follow.jpg) no-repeat 0 0;
}
.follow1:hover{
	background:url(../images/follow.jpg) no-repeat 0 -50px;
}
.follow2{
	background:url(../images/follow.jpg) no-repeat -50px 0;
}
.follow2:hover{
	background:url(../images/follow.jpg) no-repeat -50px -50px;
}
.follow3{
	background:url(../images/follow.jpg) no-repeat -100px 0;
}
.follow3:hover{
	background:url(../images/follow.jpg) no-repeat -100px -50px;
}
.follow4{
	background:url(../images/follow.jpg) no-repeat -150px 0;
}
.follow4:hover{
	background:url(../images/follow.jpg) no-repeat -150px -50px;
}
.note{
}