@charset "utf-8";
/* CSS Document */

body {
	background-image:url(../images/try.jpg);
	background-repeat: no-repeat;
}
.center{
	width:500px;
	margin:0 auto;
}
.c-table{
	margin:430px 0 0 0;
	text-align:center;
}
.center-pic{
}
.email{
	background:url(../images/email.jpg);
	height:36px;
	margin:0 auto;
}

.email:hover{
	background:url(../images/email.jpg) no-repeat 0 -36px;
	height:36px;
	margin:0 auto;
}
.follow1,.follow2,.follow3,.follow4{
	width:50px;
	height:50px;
	margin:10px 10px;
	float:left;
	overflow:hidden;
}
.follow1{
	background:url(../images/follow.jpg) no-repeat 0 0;
}
.follow1:hover{
	background:url(../images/follow.jpg) no-repeat 0 -50px;
}
.follow2{
	background:url(../images/follow.jpg) no-repeat -50px 0;
}
.follow2:hover{
	background:url(../images/follow.jpg) no-repeat -50px -50px;
}
.follow3{
	background:url(../images/follow.jpg) no-repeat -100px 0;
}
.follow3:hover{
	background:url(../images/follow.jpg) no-repeat -100px -50px;
}
.follow4{
	background:url(../images/follow.jpg) no-repeat -150px 0;
}
.follow4:hover{
	background:url(../images/follow.jpg) no-repeat -150px -50px;
}
.note{
}