@charset "utf-8";
/* CSS Document */

.latest_main{
	margin:100px auto;
}
.latest_show{
	background:url(http://pic.rzx.me/rzxme/web/images/wing.jpg) no-repeat 50% 0;
	height:253px;
	margin:0 auto;
}
.loading{
	background:url(http://pic.rzx.me/rzxme/web/images/grid-loading.gif) no-repeat center;
	width:100px;
	height:20px;
	margin:5px auto;
}
.ad{
	margin:10px 0 500px 0;
	text-align:center;
}

.html5-tip{
	background:#C90;
	padding:3px 10px;
	text-align:center;
	font-size:12px;
	font-weight:700;
	color:#FFF;
}