@charset "utf-8";
html,body{
	margin:0;
	padding:0;   
}
a{
text-decoration:none;
}

#wrap{
	margin:50px auto;
	width:450px;
}
.title{
	background:#F60;
	color:#fff;
	text-align:center;
	font-weight:900;
	padding:3px 0;
	width:100%;
}
#box{
	width:100%;
	height:455px;
	border-bottom:black 2px solid;
	overflow:hidden;

}
#site1,#site2,#site3,#site4,#site5,#site6,#site7,#site8,#site9{
	background:#CCC;
	height:140px;
	width:140px;
	float:left;
	margin:4px;
	border:#000 1px solid;
	
}
#site1{
	background:#c53 url(http://pic.rzx.me/rzxme/web/images/sites.bolg.rzx.me.gif) ;
	opacity:0.7;
}
#site2{
	background:url(http://pic.rzx.me/rzxme/web/images/sites.pic.rzx.me.gif);
	opacity:0.7;
}
#site3{
	background:url(http://pic.rzx.me/rzxme/web/images/sites.acglook.com.gif);
	opacity:0.7;
}
#site4{
	background:url(http://pic.rzx.me/rzxme/web/images/blog-pic.jpg) no-repeat 50% 50%;
	opacity:0.7;
}
#site5{
	background:url(http://pic.rzx.me/rzxme/web/images/sites.tumblr1280.gif) no-repeat;
	opacity:0.7;
}
#site6{
	background:url(http://pic.rzx.me/rzxme/web/images/blog-pic.jpg);
	opacity:0.7;
}
#site7{
	background:url(http://pic.rzx.me/rzxme/web/images/sites.music.gif);
	opacity:0.7;
}
#site8{
	background:url(http://pic.rzx.me/rzxme/web/images/sites.html5.png);
	opacity:0.7;
}
#site9{
	background:url(http://pic.rzx.me/rzxme/web/images/sites.lab.rzx.me.gif);
}


#home_menu{
	width:200px;
	height:100px;
	border:2px #444 solid;
	background:url(http://pic.rzx.me/rzxme/web/images/blog-pic.jpg) no-repeat 100% 100%;
	position:fixed;
	left:50px;
	bottom:10px;
	z-index:999;
	opacity:0;
}
#home_menu2{
	width:400px;
	height:200px;
	border:2px #444 solid;
	background:#32c;
	position:fixed;
	right:50px;
	bottom:10px;
	z-index:995;
	opacity:0;
}

#home_menu3{
	width:400px;
	height:200px;
	border:2px #444 solid;
	background:#00c url(http://pic.rzx.me/rzxme/web/images/follow.jpg);
	position:fixed;
	right:200px;
	bottom:-10px;
	z-index:995;
	opacity:0;
}